# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Cython files
*.so
dipole_inverse/cython_cuda_lib/pop_matrix_cudalib.cpp
dipole_inverse/cython_lib/pop_matrix_lib.c

# Data files
*.npz
*.txt

# Jupyter Notebook
.ipynb_checkpoints

.directory

# Installation dirs
build/
dist/
